/* @font-face {
  font-family: 'ISO';
  src: url("../type/ISO-v1-400.eot");
  src: url("../type/ISO-v1-400.eot?#iefix") format("embedded-opentype"), url("../type/ISO-v1-400.woff2") format("woff2"), url("../type/ISO-v1-400.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.7;
  margin: 0 !important;
  width: 100%;
  height: 100%;
  font-kerning: normal;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-weight: normal;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  width: 0;
  height: 0;
  float: 0;
  padding: 0;
  margin: 0;
  clear: both;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
small {
  margin: 0 0 20px 0;
  padding: 0;
}

li {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}

ul {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}

ul p {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}

ul .blog-date {
  width: 10ch;
  /* display: inline-block; */
}

ul .project-company {
  width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}

a:hover {
  border-bottom: solid 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav{
    margin-right: 20px;
}

.caps {
  text-transform: uppercase;
  font-weight: bold;
}

.dash {
  opacity: 0.2;
}

.container-main {
  padding: 25px 50px;
  padding-bottom: 0px;
  margin: 25px 50px;
}

.container-header {
  padding: 50px;
  padding-bottom: 25px;
  margin: 25px 50px;
}

.container-footer {
  padding: 50px;
  padding-top: 10px;
  margin: 25px 50px;
}

hr {
  opacity: 0.3;
  border: 1px;
  border-style: none none dashed;
  margin: 0 0 20px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

img.left {
  float: left;
  padding: 20px;
  clear: both;
  overflow: auto;
  width: 50%;
}

img.right {
  float: right;
  padding: 20px;
  clear: both;
  overflow: auto;
  width: 50%;
}

img {
  width: 100%;
  clear: both;
  overflow: auto;
}

.content {
  text-align: justify;
  overflow: auto
}

.code {
  padding-top: 10px;
}

.button {
    color: rgb(100, 255, 218);
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(100, 255, 218);
    border-image: initial;
    border-radius: 3px;
    padding: 0.025rem 1rem;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    font-size: 13px;
}

.button:hover {
    background-color: rgba(100, 255, 218, 0.07);
}

.footer {
    align-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
}

.svg-icon {
    width: 32px;
    height: 32px;
    align-content: center;
    text-align: center;
    align-items: center; justify-content: center;
    margin: 0;
    margin-bottom: 10px;
}

svg {
    fill: currentcolor;
    vertical-align: middle;
}

a.svg-icon:hover {
      border-bottom: none;
}

.social-icons {
    margin: auto;
    width: 120px;
}


@media (max-width: 800px) {
  .container {
    padding: 80px;
  }
    
  ul .blog-date {
    width: 100%;
  }
  ul .project-company {
    width: 100%;
  }

  .container-header {
    padding: 50px;
    margin: 25px 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .container-main {
    padding: 25px 50px;
    padding-bottom: 0;
    margin: 25px 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 40px;
  }

  .container-header {
    padding: 50px;
    margin: 25px 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .container-main {
    padding: 25px 50px;
    padding-bottom: 0;
    margin: 25px 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

